.footer {
	&__wrapper {
		display: grid;
		gap: 2em;
		grid-template-columns: repeat(auto-fit, minmax(auto, 35ch));
		justify-content: center;

		& :last-child {
			justify-self: center;
		}
	}
	&__list {
		list-style-type: disc;
		list-style-position: inside;
		padding-left: 0;
		& ::marker {
			/* font-size: 2ch; */
			color: var(--primary-colour);
		}
	}
	&__copyright {
		padding-block: 1em;
		margin-block: 0;
		font-size: 0.875rem;
		text-align: center;
		font-weight: 600;
		color: #fff;
		background-color: var(--primary-colour);
	}
	&__link {
		&--phone {
			padding: 0.5em 1em;
			font-weight: 600;
			font-size: 2.5ch;
			color: #fff;
			background-color: var(--primary-colour);
			border-radius: 1ch;
		}
	}
	&__title {
		font-weight: 700;
		color: var(--primary-colour);
	}
}
