.location {
	background-color: var(--primary-colour);
	color: #fff;
	padding-block: 2em;

	&__map {
		border-width: 0;
	}

	&__container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 2em;
	}

	&__title {
		text-align: center;
		font-weight: 500;
		font-size: 2.1875rem;
	}

	&__list {
		padding-left: 2em;
		list-style-image: url(../assets/icon/geo.svg);
		& > * + * {
			margin-top: 1em;
		}
	}
}
