@charset 'UTF-8';
@use "global.scss";
@use "header.scss";
@use "footer.scss";
@use "banner.scss";
@use "section.scss";
@use "card.scss";

.benefits {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	&__title {
		font-size: 2rem;
		text-align: center;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, 15ch);
		justify-content: space-between;
		justify-items: center;
	}
}

.availabality {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	padding-bottom: 4em;
	place-items: center;
	row-gap: 2em;
	background-image: url(../assets/wave.svg);
	background-position-y: bottom;
	background-repeat: no-repeat;
	&__title {
		font-size: 2.81rem;
	}
	&__link--button {
		background-color: var(--primary-colour);
		color: #fff;
		padding: 1em 2em;
		font-weight: 600;
		border-radius: 0.5ch;
	}
	&__hl {
		color: var(--primary-colour);
		font-weight: 700;
	}
}

.about-us {
	padding-inline: 2em;
	&__title {
		font-size: 2rem;
		text-align: center;
	}
	&__text {
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;
		margin-bottom: 40px;
		text-align: justify;
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		& > * {
			flex-basis: 45%;
			flex-grow: 1;
		}
		gap: 2em;
	}
	&__link--button {
		border: 0.1ch solid var(--primary-colour);
		padding: 1em 2em;
		border-radius: 1ch;
		font-weight: 600;
		font-size: 1.25rem;
		color: var(--primary-colour);
		background-color: #fff;
	}
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	/* display: block;
	width: 100%;
	height: 100%; */
	object-fit: cover;
}

.swiper-pagination-bullet {
	background-color: transparent;
	border: 3px solid #cccccc;
	width: 12px;
	height: 12px;
}
.swiper-pagination-bullet-active {
	background-color: #cccccc;
}

.plans {
	&__title {
		margin-bottom: 40px;
		text-align: center;
		h2 {
			text-align: center;
			margin-bottom: 30px;
			font-weight: 400;
			font-size: 35px;
		}
		hr {
			margin: 0 auto;
			border-color: var(--primary-colour);
		}
	}

	&__list {
		/* display: flex;
		justify-content: center;
		flex-wrap: wrap; */
		display: grid;
		place-content: center;
		/* grid-auto-flow: column; */
		grid-template-columns: repeat(auto-fill, minmax(20ch, 40ch));
		justify-items: center;
		gap: 2em;
		margin-bottom: 30px;
		.plan {
			/* flex-basis: 24%;
			gap: 2em 1%; */
			border: 2px solid #cccccc;
			border-radius: 5px;
			padding: 24px 20px;
			&__name {
				color: #777777;
				font-size: 25px;
				font-weight: 600;
				text-align: center;
			}
			&__velocity {
				color: var(--primary-colour);
				font-size: 30px;
				font-weight: 700;
				text-align: center;
				span {
					font-size: 45px;
				}
			}
			&__type {
				color: #777777;
				font-weight: 600;
				font-size: 16px;
				text-align: center;
				margin-top: -11px;
			}
			&__price {
				font-size: 20px;
				font-weight: 400;
				color: #505050;
				text-align: center;
				margin-top: 10px;
				margin-bottom: 20px;
				span {
					font-weight: 700;
					font-size: 25px;
				}
			}
			&__features {
				font-size: 15px;
				font-weight: 300;
				border-bottom: 1px solid #cccccc;
				padding-bottom: 14px;
				div {
					display: flex;
					align-items: center;
					img {
						width: 40px;
						margin-right: 10px;
					}
				}
			}
			&__other-info {
				padding: 20px 0;
				i {
					color: var(--primary-colour);
				}
				a {
					text-decoration: underline;
					color: var(--primary-colour);
				}
			}
			&__hire {
				background-color: var(--primary-colour);
				color: white;
				padding: 15px 53px;
				display: block;
				width: 90%;
				text-align: center;
				border-radius: 10px;
				margin: 0 auto;
			}
		}
	}
	&__terms {
		font-weight: 300;
		font-size: 15px;
		text-align: center;
	}
}

/* .benefits {
	.container {
		display: flex;
		padding: 10px;
		.benefits__image {
			width: 35%;
			img {
				width: 100%;
			}
		}
		&__list {
			width: 70%;
			padding: 0 57px;
			h2 {
				font-weight: 600;
				font-size: 35px;
				text-align: center;
				margin-bottom: 74px;
			}
			ul {
				display: flex;
				justify-content: space-between;
				.benefit {
					width: 30%;
					.benefit__icon {
						width: 92px;
						margin: 0 auto;
						margin-bottom: 16px;
						img {
							width: 100%;
						}
					}
					p {
						color: var(--primary-colour);
						font-weight: 700;
						font-size: 18px;
						text-align: center;
						line-height: 27px;
						height: 54px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
	}
} */

.indicators {
	.container {
		height: 100%;
		.indicators__left {
			position: relative;
			width: 40%;
			height: 100%;
			h2 {
				color: #ffffff;
				font-weight: 700;
				font-size: 35px;
				width: 70%;
				position: absolute;
				top: 8%;
				left: 12%;
				span {
					color: var(--secondary-colour);
					font-size: 38px;
				}
			}
			figure {
				width: 90%;
				position: absolute;
				bottom: 0;
				img {
					display: block;
					width: 100%;
				}
			}
		}
	}
}

/* .about-us {
	.about-us__cont {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.about-us__left {
			width: 48%;
			figure {
				img {
					width: 90%;
					display: block;
					margin: 0 auto;
				}
			}
		}
		.about-us__right {
			width: 48%;
			padding: 20px;
			p {
				font-weight: 300;
				font-size: 18px;
				line-height: 32px;
				margin-bottom: 40px;
				text-align: justify;
			}
			a {
				border: 1px solid var(--primary-colour);
				font-weight: 600;
				font-size: 20px;
				background-color: white;
				color: var(--primary-colour);
				border-radius: 10px;
				padding: 2% 4%;
				display: block;
				width: 200px;
				text-align: center;
			}
		}
	}
} */

/* .availabality {
	position: relative;
	padding: 20px 0;
	.container {
		display: flex;
		justify-content: space-between;
		padding: 30px;
		.availabality__left {
			width: 38%;
			h2 {
				font-weight: 500;
				font-size: 35px;
				margin-bottom: 50px;
				span {
					color: var(--primary-colour);
					font-weight: 700;
				}
			}
			a {
				background-color: var(--primary-colour);
				color: white;
				padding: 3% 4%;
				display: block;
				width: 200px;
				text-align: center;
				border-radius: 10px;
				font-size: 20px;
				font-weight: 600;
				margin: 0 auto;
			}
		}
		.availabality__right {
			width: 45%;
			figure {
				width: 90%;
				margin: 0 auto;
				img {
					width: 100%;
					display: block;
				}
			}
		}
	}
	svg {
		position: absolute;
		bottom: 0;
		z-index: -1;
	}
} */
.how-work {
	figure {
		width: 80%;
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
}
