$primary_color: #05448e;
$secondary_color: #fece00;
$base_font: "Poppins", sans-serif;

*,
::before,
::after {
	box-sizing: border-box;
}

:root {
}

body {
	font-family: $base_font;
	font-size: 15px;
}

ul {
	padding-left: 0;
	margin-block: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}

.header {
	box-shadow: 0 3px rgba(0, 0, 0, 0.25);
	&__navbar {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-inline: 2em;
		align-items: center;
	}

	&__list {
	}

	&__link {
		font-weight: 400;
		color: #838383;
		text-transform: uppercase;
		&:hover {
			color: $primary_color;
			font-weight: 600;
		}
		&__button {
			color: white;
			background-color: $primary_color;
			font-size: 1rem;
			font-weight: 500;
			padding: 0.725em 1em;
			border-radius: 1ch;
		}
	}
}

/* .container {
	max-width: 1240px;
	margin: 0 auto;
} */

header {
	/* margin-bottom: 3px; */
	nav {
		.header__2 {
			display: flex;
			align-items: center;
			ul {
				display: flex;
				margin-right: 12px;
				li {
					margin-right: 12px;
					&:last-child {
						margin-right: 0;
					}
				}
				.active {
					a {
						color: $primary_color;
						font-weight: 600;
					}
				}
			}
			.header__phone {
				a {
					color: $primary_color;
					font-family: "Arial";
					font-size: 20px;
					i {
						font-size: 17px;
					}
				}
			}
		}
	}
}

section {
	margin-bottom: 50px;
	.title-h2 {
		text-align: center;
		font-weight: 600;
		font-size: 35px;
		margin-bottom: 15px;
	}
}

// .cover{
//     background-image: url("../src/banner.jpg");
//     background-repeat: no-repeat;
//     background-position: top right;
//     background-size: cover;
//     height: 550px;
//     .container{
//         position: relative;
//         height: 100%;
//         .cover__info{
//             width: 30%;
//             position: absolute;
//             right: 10%;
//             top: 22%;
//             h1{
//                 color: white;
//                 text-align: center;
//                 font-size: 45px;
//                 font-weight: 700;
//                 margin-bottom: 40px;
//                 .yellow{
//                     color: $secondary_color;
//                 }
//             }
//             a{
//                 display: block;
//                 width: 70%;
//                 background-color: #FFFFFF;
//                 color: $primary_color;
//                 padding: 15px 42px;
//                 text-align: center;
//                 margin: 0 auto;
//                 font-weight: 600;
//                 font-size: 20px;
//                 border-radius: 10px;
//             }
//         }
//         .cover__slick-dots{
//             width: 80px;
//             display: flex;
//             justify-content: space-between;
//             position: absolute;
//             bottom: 2%;
//             left: calc(50% - 66px);
//             .cover__dot{
//                 width: 15px;
//                 height: 15px;
//                 border: 1px solid #CCCCCC;
//                 border-radius: 50%;
//                 cursor: pointer;
//             }
//             .active{
//                 background-color: #CCCCCC;
//             }
//         }
//     }
// }

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-pagination-bullet {
	background-color: transparent;
	border: 3px solid #cccccc;
	width: 12px;
	height: 12px;
}
.swiper-pagination-bullet-active {
	background-color: #cccccc;
}

.plans {
	.plans__title {
		margin-bottom: 40px;
		text-align: center;
		h2 {
			text-align: center;
			margin-bottom: 30px;
			font-weight: 400;
			font-size: 35px;
		}
		hr {
			margin: 0 auto;
			border-color: $primary_color;
		}
	}

	.plans__list {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
		.plan {
			width: 24%;
			border: 2px solid #cccccc;
			border-radius: 5px;
			padding: 24px 20px;
			.plan__name {
				color: #777777;
				font-size: 25px;
				font-weight: 600;
				text-align: center;
			}
			.plan__velocity {
				color: $primary_color;
				font-size: 30px;
				font-weight: 700;
				text-align: center;
				span {
					font-size: 45px;
				}
			}
			.plan__type {
				color: #777777;
				font-weight: 600;
				font-size: 16px;
				text-align: center;
				margin-top: -11px;
			}
			.plan__price {
				font-size: 20px;
				font-weight: 400;
				color: #505050;
				text-align: center;
				margin-top: 10px;
				margin-bottom: 20px;
				span {
					font-weight: 700;
					font-size: 25px;
				}
			}
			.plan__features {
				font-size: 15px;
				font-weight: 300;
				border-bottom: 1px solid #cccccc;
				padding-bottom: 14px;
				div {
					display: flex;
					align-items: center;
					img {
						width: 40px;
						margin-right: 10px;
					}
				}
			}
			.plan__other-info {
				padding: 20px 0;
				i {
					color: $primary_color;
				}
				a {
					text-decoration: underline;
					color: $primary_color;
				}
			}
			.plan__hire {
				background-color: $primary_color;
				color: white;
				padding: 15px 53px;
				display: block;
				width: 90%;
				text-align: center;
				border-radius: 10px;
				margin: 0 auto;
			}
		}
	}
	.plans__terms {
		font-weight: 300;
		font-size: 15px;
		text-align: center;
	}
}

.benefits {
	.container {
		display: flex;
		padding: 10px;
		.benefits__image {
			width: 35%;
			img {
				width: 100%;
			}
		}
		.benefits__list {
			width: 70%;
			padding: 0 57px;
			h2 {
				font-weight: 600;
				font-size: 35px;
				text-align: center;
				margin-bottom: 74px;
			}
			ul {
				display: flex;
				justify-content: space-between;
				.benefit {
					width: 30%;
					.benefit__icon {
						width: 92px;
						margin: 0 auto;
						margin-bottom: 16px;
						img {
							width: 100%;
						}
					}
					p {
						color: $primary_color;
						font-weight: 700;
						font-size: 18px;
						text-align: center;
						line-height: 27px;
						height: 54px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
	}
}

.indicators {
	.container {
		height: 100%;
		.indicators__left {
			position: relative;
			width: 40%;
			height: 100%;
			h2 {
				color: #ffffff;
				font-weight: 700;
				font-size: 35px;
				width: 70%;
				position: absolute;
				top: 8%;
				left: 12%;
				span {
					color: $secondary_color;
					font-size: 38px;
				}
			}
			figure {
				width: 90%;
				position: absolute;
				bottom: 0;
				img {
					display: block;
					width: 100%;
				}
			}
		}
	}
}

.about-us {
	.about-us__cont {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.about-us__left {
			width: 48%;
			figure {
				img {
					width: 90%;
					display: block;
					margin: 0 auto;
				}
			}
		}
		.about-us__right {
			width: 48%;
			padding: 20px 0;
			p {
				font-weight: 300;
				font-size: 18px;
				line-height: 32px;
				margin-bottom: 40px;
				text-align: justify;
			}
			a {
				border: 1px solid $primary_color;
				font-weight: 600;
				font-size: 20px;
				background-color: white;
				color: $primary_color;
				border-radius: 10px;
				padding: 2% 4%;
				display: block;
				width: 200px;
				text-align: center;
			}
		}
	}
}

.availabality {
	position: relative;
	padding: 20px 0;
	.container {
		display: flex;
		justify-content: space-between;
		padding: 30px;
		.availabality__left {
			width: 38%;
			h2 {
				font-weight: 500;
				font-size: 35px;
				margin-bottom: 50px;
				span {
					color: $primary_color;
					font-weight: 700;
				}
			}
			a {
				background-color: $primary_color;
				color: white;
				padding: 3% 4%;
				display: block;
				width: 200px;
				text-align: center;
				border-radius: 10px;
				font-size: 20px;
				font-weight: 600;
				margin: 0 auto;
			}
		}
		.availabality__right {
			width: 45%;
			figure {
				width: 90%;
				margin: 0 auto;
				img {
					width: 100%;
					display: block;
				}
			}
		}
	}
	svg {
		position: absolute;
		bottom: 0;
		z-index: -1;
	}
}
.how-work {
	figure {
		width: 80%;
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
}

footer {
	.footer-1 {
		box-shadow: 0px 2px 10px 0px #00000040;

		.container {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 20px 0;
			& > div {
				width: 22%;
			}
			h3 {
				font-weight: 700;
				font-size: 16px;
				color: $primary_color;
				margin-bottom: 5px;
			}
			ul {
				list-style-type: disc;
				list-style-position: inside;
				li::marker {
					color: $primary_color;
				}
			}
			.footer__brand {
				.footer__logo {
					width: 80%;
					margin: 0 auto;
					img {
						width: 100%;
						display: block;
					}
				}
				.social-media {
					display: flex;
					justify-content: center;
					margin-top: 30px;
				}
			}
			.footer__links {
				&-list {
					li {
						a {
							font-size: 12px;
							color: black;
						}
					}
				}
				&-list:first-child {
					margin-bottom: 20px;
				}
			}
			.footer__contact {
				li {
					font-size: 13px;
				}
			}
			.footer__phone {
				display: flex;
				&-cont {
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					p {
						text-align: center;
						margin-bottom: 5px;
					}
					a {
						font-weight: 600;
						font-size: 23px;
						color: white;
						background-color: $primary_color;
						display: block;
						width: 70%;
						padding: 3% 4%;
						margin: 0 auto;
						text-align: center;
						border-radius: 10px;
					}
				}
			}
		}
	}
	.footer-2 {
		background-color: $primary_color;
		.container {
			padding: 14px 0;
			.footer__copyright {
				text-align: center;
				font-weight: 600;
				font-size: 14px;
				line-height: 21px;
				color: white;
			}
		}
	}
}
