@charset 'UTF-8';
@use "global";
@use "header";
@use "footer";
@use "banner";
@use "section";
@use "card";
@use "form";
@use "plans";
@use "location";
.title {
	font-size: 2.5rem;
}

.pricing {
	background-color: var(--primary-colour);
	color: #fff;
	text-align: center;
	padding-block: 2em;
}

.benefit {
	&__item {
		text-align: center;
	}
	&__title {
		color: var(--primary-colour);
	}
}

.benefits {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, 15ch);
		justify-content: space-evenly;
		justify-items: center;
		gap: 2em;
	}
}

.hl-yellow {
	position: relative;
	&::before {
		position: absolute;
		content: "";
		background-color: #fece00;
		z-index: -1;
		height: 0.5em;
		width: 100%;
		display: inline-block;
		bottom: 0;
	}
}

.availabality {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	padding-bottom: 4em;
	place-items: center;
	row-gap: 2em;
	background-image: url(../assets/wave.svg);
	background-position-y: bottom;
	background-repeat: no-repeat;
	&__title {
		font-size: 2.81rem;
	}
	&__link--button {
		background-color: var(--primary-colour);
		color: #fff;
		padding: 1em 2em;
		font-weight: 600;
		border-radius: 0.5ch;
	}
	&__hl {
		color: var(--primary-colour);
		font-weight: 700;
	}
}

.about-us {
	padding-inline: 2em;
	&__title {
		font-size: 2rem;
		text-align: center;
	}
	&__text {
		font-weight: 300;
		font-size: 18px;
		line-height: 32px;
		margin-bottom: 40px;
		text-align: justify;
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		& > * {
			flex-basis: 45%;
			flex-grow: 1;
		}
		gap: 2em;
	}
	&__link--button {
		border: 0.1ch solid var(--primary-colour);
		padding: 1em 2em;
		border-radius: 1ch;
		font-weight: 600;
		font-size: 1.25rem;
		color: var(--primary-colour);
		background-color: #fff;
	}
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	/* display: block;
	width: 100%;
	height: 100%; */
	object-fit: cover;
}

.swiper-pagination-bullet {
	background-color: transparent;
	border: 3px solid #cccccc;
	width: 12px;
	height: 12px;
}
.swiper-pagination-bullet-active {
	background-color: #cccccc;
}

.separator {
	padding-block-end: 3em;
	&::before {
		content: "";
		display: block;
		margin-inline: auto;
		border-bottom: 0.3ch solid var(--primary-colour);
		width: 50%;
	}
}

/* .benefits {
	.container {
		display: flex;
		padding: 10px;
		.benefits__image {
			width: 35%;
			img {
				width: 100%;
			}
		}
		&__list {
			width: 70%;
			padding: 0 57px;
			h2 {
				font-weight: 600;
				font-size: 35px;
				text-align: center;
				margin-bottom: 74px;
			}
			ul {
				display: flex;
				justify-content: space-between;
				.benefit {
					width: 30%;
					.benefit__icon {
						width: 92px;
						margin: 0 auto;
						margin-bottom: 16px;
						img {
							width: 100%;
						}
					}
					p {
						color: var(--primary-colour);
						font-weight: 700;
						font-size: 18px;
						text-align: center;
						line-height: 27px;
						height: 54px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
	}
} */

.indicators {
	.container {
		height: 100%;
		.indicators__left {
			position: relative;
			width: 40%;
			height: 100%;
			h2 {
				color: #ffffff;
				font-weight: 700;
				font-size: 35px;
				width: 70%;
				position: absolute;
				top: 8%;
				left: 12%;
				span {
					color: var(--secondary-colour);
					font-size: 38px;
				}
			}
			figure {
				width: 90%;
				position: absolute;
				bottom: 0;
				img {
					display: block;
					width: 100%;
				}
			}
		}
	}
}

/* .about-us {
	.about-us__cont {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.about-us__left {
			width: 48%;
			figure {
				img {
					width: 90%;
					display: block;
					margin: 0 auto;
				}
			}
		}
		.about-us__right {
			width: 48%;
			padding: 20px;
			p {
				font-weight: 300;
				font-size: 18px;
				line-height: 32px;
				margin-bottom: 40px;
				text-align: justify;
			}
			a {
				border: 1px solid var(--primary-colour);
				font-weight: 600;
				font-size: 20px;
				background-color: white;
				color: var(--primary-colour);
				border-radius: 10px;
				padding: 2% 4%;
				display: block;
				width: 200px;
				text-align: center;
			}
		}
	}
} */

/* .availabality {
	position: relative;
	padding: 20px 0;
	.container {
		display: flex;
		justify-content: space-between;
		padding: 30px;
		.availabality__left {
			width: 38%;
			h2 {
				font-weight: 500;
				font-size: 35px;
				margin-bottom: 50px;
				span {
					color: var(--primary-colour);
					font-weight: 700;
				}
			}
			a {
				background-color: var(--primary-colour);
				color: white;
				padding: 3% 4%;
				display: block;
				width: 200px;
				text-align: center;
				border-radius: 10px;
				font-size: 20px;
				font-weight: 600;
				margin: 0 auto;
			}
		}
		.availabality__right {
			width: 45%;
			figure {
				width: 90%;
				margin: 0 auto;
				img {
					width: 100%;
					display: block;
				}
			}
		}
	}
	svg {
		position: absolute;
		bottom: 0;
		z-index: -1;
	}
} */
.how-work {
	figure {
		width: 80%;
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
}
