.slider {
	overflow: hidden;
	max-width: 192ch;
	margin-inline: auto;
	&__container {
		--slide: 0;
		display: flex;
		transform: translateX(calc(var(--slide) * 100%));
		transition: transform 1s;
	}
}
