---
	import Header from '../components/Header.astro';
	import Footer from '../components/Footer.astro';
	import Layout from '../components/Layout.astro';
	import { Slider } from '../components/Slider';
	import About from '../components/About.astro';
	import Planes from '../components/Planes.astro';
	import Availabality from '../components/Availabality.astro';
	import Benefits from '../components/Benefits.astro';
---
<Layout>
	<Header />
	<main>
		<Slider client:load />
		<Planes/>
		<Benefits/>
		<About/>
		<Availabality/>
	</main>
	<Footer/>
</Layout>