---
	import PlansList from '../components/PlansList.astro';
---
<section class="plans">
	<div class="container">
		<h2 class="plans__title">Elige tu plan <span class="hl-yellow">ideal</span> por Fibra Óptica</h2>
		<PlansList/>
		<div class="plans__terms">
			<p>Incluye router ONT y los precios incluyen IGV.
				La instalación del servicio tiene un costo de S/120 y lo puedes dividir hasta en 6 cuotas.
			</p>
		</div>
	</div>
</section>

<style lang="scss">
.section--plans {
	padding-bottom: 3em;
}
.plans__aside {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 2em;
	border-radius: 1ch;
	background-color: var(--primary-colour);
	&__title {
		color: #fff;
	}
	&__link {
		font-weight: 700;
		border-radius: 0.5ch;
		padding: 1em;
		color: var(--primary-colour);
		background-color: #fff;
	}
}

.plans {
	&__title {
		margin-bottom: 3ch;
		font-weight: 400;
		font-size: 2.18rem;
		text-align: center;
	}
	&__list {
		display: flex;
		overflow: hidden;
		max-width: 100%;
		column-gap: 2em;

	}
	&__terms {
		font-weight: 300;
		text-align: center;
	}

	/* &__container {
		display: flex;
		column-gap: 2em;

		& > * {
			flex-basis: min(min(33%, minmax(26ch, 40ch)), 100%);
		}
	} */
}

.plan {
	border: 0.2ch solid #cccccc;
	border-radius: 0.5ch;
	padding: 2em;
	background-color: #fff;
	&__name {
		color: #777777;
		font-size: 1.56em;
		font-weight: 600;
		text-align: center;
	}
	&__velocity {
		color: var(--primary-colour);
		font-size: 1.875em;
		font-weight: 700;
		text-align: center;
		span {
			font-size: 2.8em;
		}
	}
	&__type {
		color: #777777;
		font-weight: 600;
		font-size: 1em;
		text-align: center;
		margin-top: -11px;
	}
	&__price {
		font-size: 20px;
		font-weight: 400;
		color: #505050;
		text-align: center;
		margin-block: 1ch 2ch;
		span {
			font-weight: 700;
			font-size: 2em;
		}
	}
	&__features {
		color: #000;
		font-size: 15px;
		font-weight: 300;
		border-bottom: 1px solid #cccccc;
		padding-bottom: 14px;
		div {
			display: flex;
			align-items: center;
			img {
				width: 40px;
				margin-right: 10px;
			}
		}
	}
	&__other-info {
		color: var(--primary-colour);
		padding: 20px 0;
		a {
			text-decoration: underline;
			color: var(--primary-colour);
		}
	}
	&__hire {
		background-color: var(--primary-colour);
		color: #fff;
		padding: 1em 3.3em;
		display: block;
		text-align: center;
		border-radius: 1ch;
		margin-inline: auto;
	}
}
</style>