---
import Plan from './Plan.astro';

const plans = [
	{
		price:50,
		velocity: 10,
	},
	{
		price:60,
		velocity: 15,
	},
	{
		price:70,
		velocity: 20,
	},
	{
		price:90,
		velocity: 40,
	},
	{
		price:120,
		velocity: 60,
	},
	{
		price:150,
		velocity: 80,
	},
	{
		price:200,
		velocity: 150,
	},
	{
		price:300,
		velocity: 200,
	},
];
---
<div class="plans__list">
{
	plans.map((plan) => <Plan data={plan} />)
}
</div>

<style lang="scss">
.plans {
	&__title {
		margin-bottom: 3ch;
		font-weight: 400;
		font-size: 2.18rem;
		text-align: center;
	}

	&__list {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: min(40ch, 100%);
		gap: 2em;
		overflow-y: auto;
		margin-bottom: 3ch;
		margin-inline: auto;
		max-width: 100%;
		scrollbar-width: none;
		
		& ::-webkit-scrollbar {
			display: none;
		}
	}
	
	&__terms {
		font-weight: 300;
		/* font-size: 15px; */
		text-align: center;
	}

	&__container {
		display: flex;
		column-gap: 2em;
	}
}
</style>